body {
    margin: 0;
    text-align: center;
    font-family: 'Hina Mincho', serif;
    font-size: 25px;
}
.top-heading {
    color: violet;
    margin: 0 auto;
    font-size: 90px;
    font-family: 'Yellowtail', cursive;
    line-height: 2;
}
.top-para{
    color: rgb(36, 165, 53);
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
}
.h2-title{
    color: #66BFBF;
    padding-bottom: 10px;
}
.h3-title{
    color: #5258a5;
}
.top-container{
    padding-top: 100px;
    background-color: #E8F6EF;
    position: relative;
}
.middle-container{
    background-color: #E8F6EF;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.mountain{
    width: 100%;
}
.my-pic{
    width: 15%;
    border-radius: 50%;
}
.coder{
    width: 25%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}
.yoga{
    width: 25%;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.code-skill-desc{
    /* clear: left; */
}
.yoga-skill-desc{
    /* clear: right; */
}
hr{
    border: dotted #020808;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.btn-contact {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: 'Hina Mincho', serif;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.btn-contact:hover {
background: #30e3cb;
background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
text-decoration: none;
}
.cloud{
    width: 250px;
}
#float-img1 {
    position: absolute;
    top: 50px;
    right: 500px;
    -webkit-animation: floatBubble-img1 3s  normal ease-out;
    animation: floatBubble-img1 3s  normal ease-out;
}
@-webkit-keyframes floatBubble-img1 {
    0% {
        right:1000px;
    }
    100% {
        right: 500px;
    }
}
@keyframes floatBubble-img1 {
    0% {
        right:1000px;
    }
    100% {
        right: 500px;
    }
}
#float-img2 {
    display: block;
    position: absolute;
    left: 580px;
    bottom: 725px;
    -webkit-animation: floatBubble-img2 3s  normal ease-out;
    animation: floatBubble-img2 3s  normal ease-out;
}
@-webkit-keyframes floatBubble-img2 {
    0% {
        left:1020px;
    }
    100% {
        left: 580px;
    }
}
@keyframes floatBubble-img2 {
    0% {
        left:1020px;
    }
    100% {
        left: 580px;
    }
}